force-app/main/default/flows/New_Contact_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>eventContextErrorEmail</name>
        <label>Context Error Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Salesforce New Contact Process process didn&apos;t start: No matching records found</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>noRecordsFoundTextTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>kozinec.kostyaa@gmail.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>eventContextMoreEmail</name>
        <label>Context Error Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Salesforce New Contact Process process didn&apos;t start: Multiple matching records found</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>multipleRecordsFoundTextTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>kozinec.kostyaa@gmail.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>RecordCountAssignment</name>
        <label>RecordCountAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_event_record_count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>myVariable_event_context</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>myVariable_event_current_record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>eventContextCheckLoop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>eventContextCheckDecision</name>
        <label>ContextCheckDecision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>eventContextCheckRule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_event_record_count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>eventContextErrorEmail</targetReference>
            </connector>
            <label>Context Check Decision - Is Zero</label>
        </rules>
        <rules>
            <name>eventContextGtOneCheckRule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_event_record_count</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>eventContextMoreEmail</targetReference>
            </connector>
            <label>Context Check Decision - Greater than One</label>
        </rules>
    </decisions>
    <formulas>
        <name>OrganizationName</name>
        <dataType>String</dataType>
        <expression>{!$Organization.Name}</expression>
    </formulas>
    <interviewLabel>New_Contact_Process-1_InterviewLabel</interviewLabel>
    <label>New Contact Process</label>
    <loops>
        <name>eventContextCheckLoop</name>
        <label>ContextCheckLoop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>myVariable_event_current_record</assignNextValueToReference>
        <collectionReference>myVariable_event_context_collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>RecordCountAssignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>eventContextCheckDecision</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>EventType</name>
        <value>
            <stringValue>Test_Contact__e</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>User</stringValue>
        </value>
    </processMetadataValues>
    <processType>CustomEvent</processType>
    <recordLookups>
        <name>myEventContextRecordLookup</name>
        <label>myEventContextRecordLookup</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>eventContextCheckLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Last Name</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Event</stringValue>
                </value>
            </processMetadataValues>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_myEvent.Contact_Name__c</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>myVariable_event_context_collection</outputReference>
    </recordLookups>
    <startElementReference>myEventContextRecordLookup</startElementReference>
    <status>Draft</status>
    <textTemplates>
        <description>text template for when multiple records are records found</description>
        <name>multipleRecordsFoundTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Hello {!OrganizationName} Admin, 

The New Contact Process process is configured to start when a Test Contact platform event message occurs. A Test Contact message occurred, but the process didn&apos;t start because multiple records in your org match the values specified in the process&apos;s Object node.

Here are the values from the Test Contact message.
Contact Name: {!myVariable_myEvent.Contact_Name__c}

To fix this issue, adjust the matching filters in the process&apos;s Object node.

Thank you, 
Salesforce Process Automation</text>
    </textTemplates>
    <textTemplates>
        <description>text template for no records found</description>
        <name>noRecordsFoundTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Hello {!OrganizationName} Admin, 

The New Contact Process process is configured to start when a Test Contact platform event message occurs. A Test Contact message occurred, but the process didn&apos;t start because no records in your org match the values specified in the process&apos;s Object node.

Here are the values from the Test Contact message.
Contact Name: {!myVariable_myEvent.Contact_Name__c}

To fix this issue, adjust the matching filters in the process&apos;s Object node.

Thank you, 
Salesforce Process Automation</text>
    </textTemplates>
    <variables>
        <name>myVariable_event_context</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>myVariable_event_context_collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>myVariable_event_current_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>myVariable_event_record_count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>myVariable_myEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Test_Contact__e</objectType>
    </variables>
</Flow>
