force-app/main/default/flows/NewCaseFromWebFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Case_Status_is_Closed_allert</name>
        <label>Case Status is Closed allert</label>
        <locationX>346</locationX>
        <locationY>430</locationY>
        <actionName>Case.Case_status_closed</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Is_Case_Reason_Feedback</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseFromProcess.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>AssignmentToAccount</name>
        <label>AssignmentToAccount</label>
        <locationX>526</locationX>
        <locationY>314</locationY>
        <assignmentItems>
            <assignToReference>CaseFromProcess.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccounts.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_status_to_working</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Case_status_to_closed</name>
        <label>Case status to closed</label>
        <locationX>219</locationX>
        <locationY>430</locationY>
        <assignmentItems>
            <assignToReference>CaseFromProcess.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Status_is_Closed_allert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Case_status_to_working</name>
        <label>Case status to working</label>
        <locationX>526</locationX>
        <locationY>507</locationY>
        <assignmentItems>
            <assignToReference>CaseFromProcess.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Working</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Case_Reason_Feedback</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Case_subject_update</name>
        <label>Case subject update</label>
        <locationX>148</locationX>
        <locationY>865</locationY>
        <assignmentItems>
            <assignToReference>CaseFromProcess.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SubjectUpdate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Is_Case_Reason_Feedback</name>
        <label>Is Case Reason Feedback</label>
        <locationX>338</locationX>
        <locationY>664</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_reason_is_feedback</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseFromProcess.Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Feedback</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_subject_Null</targetReference>
            </connector>
            <label>Case reason is feedback</label>
        </rules>
        <rules>
            <name>Case_reason_is_not_Feedback</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseFromProcess.Reason</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Feedback</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_deleted_reason_not_Feedback</targetReference>
            </connector>
            <label>Case reason is not Feedback</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_subject_Null</name>
        <label>Is subject Null</label>
        <locationX>336</locationX>
        <locationY>871</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Subject_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseFromProcess.Subject</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_subject_update</targetReference>
            </connector>
            <label>Subject is Null</label>
        </rules>
        <rules>
            <name>Subject_is_not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseFromProcess.Subject</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Subject is not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>isAccountExists</name>
        <label>isAccountExists</label>
        <locationX>339</locationX>
        <locationY>306</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AssignToAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAccounts.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignmentToAccount</targetReference>
            </connector>
            <label>AssignToAccount</label>
        </rules>
        <rules>
            <name>NoAccountToAssign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAccounts.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_status_to_closed</targetReference>
            </connector>
            <label>NoAccountToAssign</label>
        </rules>
    </decisions>
    <description>last version ( formula questions )</description>
    <formulas>
        <name>SubjectUpdate</name>
        <dataType>String</dataType>
        <expression>IF((FIND(&apos;@&apos;,{!CaseFromProcess.ContactEmail}) &lt;= 10), (LEFT({!CaseFromProcess.ContactEmail},
(FIND(&apos;@&apos;, {!CaseFromProcess.ContactEmail})-1))), (LEFT({!CaseFromProcess.ContactEmail}, 10))) + NULLVALUE( {!getAccounts.Name} , &apos;&apos;)</expression>
    </formulas>
    <interviewLabel>NewCaseFromWebFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NewCaseFromWebFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Case_deleted_reason_not_Feedback</name>
        <label>Case deleted reason not Feedback</label>
        <locationX>46</locationX>
        <locationY>670</locationY>
        <inputReference>CaseFromProcess</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>getAccounts</name>
        <label>getAccounts</label>
        <locationX>346</locationX>
        <locationY>181</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isAccountExists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Prospect</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>220</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getAccounts</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseFromProcess</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
